
.main{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
button{
	background-color: #777;
	width:100px;
	height:100px;
	padding: 0 0.5rem;
	vertical-align: baseline;
	border:none;

}
.navicon{
	position: relative;
	background-color:#fff;
	width: 3rem;
	height: .5rem;
	margin:auto;
}
.navicon:before, .navicon:after{
	content: "";
    position: absolute;
    left: 0;
    width: 3rem;
    height: .5rem;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.navicon:after{
	bottom: -1rem;
}
.navicon:before{
	top: -1rem;
}
body.action .navicon:after, body.action .navicon:before{
	height: .2rem;
	width:1.5rem;
	left: -.25rem;
}
body.action .navicon {
	height: .2rem;
}
body.action .navicon:after{
	transform: rotate3d(0, 0, 1, 45deg);
	bottom: -.46rem;
}
body.action .navicon:before{
	transform: rotate3d(0, 0, 1, -45deg);
	top: -.46rem;
}